.gv-detail-overlay {
    position: fixed;
    top: 0;
    left: 100%;
    width: 280px;
    height: 100%;
    transform: translateX(100%);
    @include mq(desktop) {
        position: absolute;
        width: 400px;
        max-height: 540px;
    }
    &.opened {
        transform: translateX(-100%);
    }
}

.gv-detail-scroll-area {
    position: absolute;
    padding: 0 10px 0 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #FFF;
    box-shadow: -2px 0 6px rgba(0, 0, 0, 0.2);
    @include mq(desktop) {
        overflow: hidden;
        box-shadow: none;
        border-top: 1px solid $bullet-bg;
        border-bottom: none;
        padding: 0 0 0 10px;

        &.add-border-bottom{
            border-top: none;
            border-bottom: 1px solid $bullet-bg;
        }
    }
}

.gv-detail-items-list {
    width: 240px;
    @include mq(desktop) {
        width: 360px;
    }
}

.gv-detail-item {
    display: block;
    height: auto;
    padding-top: 12px;
    margin: 0 10px 36px;
    opacity: 0.33;
    @include mq(desktop) {
        display: none;
    }
    &.selected {
        opacity: 1;
        @include mq(desktop) {
            display: block;
        }
    }
}

.gv-detail-item:first-child {
    border: none;
}

.gv-detail-text1,
.gv-detail-text2,
.gv-detail-head-text {
    @include fs-textSans(3);
    h1 {
        @include fs-header(3);
    }
}

.gv-detail-head-text {
    height: auto;
    margin-left: 12px;
    h1 {
        @include fs-header(1);
        color: $neutral-1;
        @include mq(desktop) {
            @include fs-header(4);
        }
    }
    @include mq(desktop) {
        margin-left: 0;
    }
    
}

.gv-detail-main {
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
    @include mq(desktop) {
        height: auto;
    }
}

.gv-detail-description {
    @include fs-bodyCopy(1);
    color: $neutral-2;
    @include mq(desktop) {
        @include fs-bodyCopy(2);
    }
}

.gv-detail-list-wrapper{
    ul {
        margin: 0;
        padding: 0;
        li {
            @include fs-textSans(3);
            color: $neutral-3;
            list-style: none;
            padding: 0;
            margin: 0;
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
            line-height: 1.4em;
            margin-bottom: 6px;
            strong {
                font-weight:600;
                display: block;
            }
        }
    }
}

.gv-detail-img {
    width: 80px;
    margin-right: 10px;
    float: left;
    padding-bottom: 80px;
    background: #333;
    background-size: cover;
    background-position: center;
    border: 3px solid $selected-color;
    border-radius: 99999px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    &.selected {
        -webkit-filter: none;
        /* Safari 6.0 - 9.0 */
        filter: none;
    }
    @include mq(desktop) {
        display: none;
    }
}